<div class="col-sm-3 col-md-2 sidebar">
    <div class="top-navigation">
        <div class="t-menu">MENU</div>
        <div class="t-img">
            <img src="images/lines.png" alt="" />
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="drop-navigation drop-navigation">
        <ul class="nav nav-sidebar">
            <li {%if menuActive == 1 or menuActive == false %}class="active"{% endif %}><a href="/" class="home-icon"><span class="glyphicon glyphicon-list"></span> Fil d'Actualités</a></li>
            <li {%if menuActive == 2 %}class="active"{% endif %}><a href="/profile/{{user.id}}" class="user-icon"><span class="glyphicon glyphicon-star"></span> {{user.first_name}} {{user.last_name}} </a></li>
            <li {%if menuActive == 3 %}class="active"{% endif %}><a href="#" class="menu1"><span class="glyphicon glyphicon-bell"></span> Notifications</a></li>
            <li {%if menuActive == 4 %}class="active"{% endif %}><a href="/places" class="menu1"><span class="glyphicon glyphicon-globe"></span> Lieux</a></li>
            <li {%if menuActive == 5 %}class="active"{% endif %}><a href="#" class="menu1"><span class="glyphicon glyphicon-paperclip"></span> Tags</a></li>
            <li {%if menuActive == 6 %}class="active"{% endif %}><a href="#dialog-account-settings" class="sub-icon play-icon popup-with-zoom-anim"><span class="glyphicon glyphicon-wrench"></span> Modifier mon Profil</a></li>
        </ul>
        <!-- script-for-menu -->
        <script>
            $( ".top-navigation" ).click(function() {
                $( ".drop-navigation" ).slideToggle( 300, function() {
                    // Animation complete.
                });
            });
        </script>
        
        <div id="dialog-account-settings" class="mfp-hide small-dialog">
                        <h3>Modifier les paramètres de votre compte</h3> 
                        <div class="social-sits">
                            <div>
                                <p>Vous pouvez modifier toutes les informations propres à votre compte dans cette fenêtre.</p><p>Laissez vides les champs pour lesquels vous ne souhaitez pas modifier vos données.</p>
                            </div>
                        </div>
                        <div class="signup">
                            <form method="post" action="/profile/settings/{{user.id}}">
                                <input type="text" name="email" class="email" placeholder="Adresse mail" title="Adresse mail" value="{{user.email}}" />
                                <input type="text" name="firstName" class="email" placeholder="Prénom" title="Prénom" value="{{user.first_name}}" />
                                <input type="text" name="lastName" class="email" placeholder="Nom" title="Nom" value="{{user.last_name}}" />
                                <input type="password" name="password" class="password" placeholder="Mot de passe" title="Mot de passe" title="Minimum 6 characters required" />
                                <input type="password" name="passwordVerification" class="password" placeholder="Mot de passe (vérification)" title="Mot de passe (vérification)" title="Minimum 6 characters required" />
                                <textarea name="description" class="email" placeholder="Description du profil..." rows="7" style="width: 94%; font-size: 14px;">{{user.description}}</textarea>
                                <div class="continue-button">
                                    <input type="submit" value="Modifier mon Profil" />
                                </div>
                            </form>

                        </div>
                        <div class="clearfix"> </div>
                    </div>
    </div>
</div>