<div class="col-xs-8 col-md-offset-2 resent-grid recommended-grid slider-top-grids">
    <div class="resent-grid-img recommended-grid-img" id="post{{ post.id }}">
        <a href="/post/{{post.id}}"><img src="{{post.photo}}" alt="Kebab picture" /></a>
    </div>
    <div class="resent-grid-info recommended-grid-info">
        <h3>{{post.message|raw}}</h3>
        <ul>
            <li><p class="author"><a href="/profile/{{post.user.id}}" class="author">{{post.user.first_name}} {{post.user.last_name}}</a></p></li>
            {% if post.place.id %}
                <li><p class="place">Kebab de <a href="/place/{{post.place.id}}">{{post.place.name}}</a></p></li>
            {% endif %}
            <li><p class="likes">
                    {% set like = 0 %}
                    {% set dislike = 0 %}
                    {% set isLike = '' %}
                    {% set isDislike = '' %}
                    {% set likeButtonName = 'J\'aime' %}
                    {% set dislikeButtonName = 'Je désapprouve' %}
                {% for i in 0 .. post.notes.count-1 %}
                    {% if post.notes[i].value == 1 %}
                        {% set like = like + 1%}
                        {% if post.notes[i].id_user == user.id %}
                            {% set isLike='is-like' %}
                            {% set likeButtonName = 'Je n\'aime plus' %}
                        {% endif %}
                    {% elseif post.notes[i].value == -1 %}
                        {% set dislike = dislike + 1 %}
                        {% if post.notes[i].id_user == user.id %}
                            {% set isDislike = 'is-like' %}
                            {% set dislikeButtonName = 'Je ne désapprouve plus' %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <span class="glyphicon glyphicon-thumbs-up {{isLike}}"></span> {{like}} J'aime | <span class="glyphicon glyphicon-thumbs-down {{ isDislike }}"></span> {{dislike}} Je n'aime pas | <span class="glyphicon glyphicon-comment"></span> {{post.comments.count}} {% if post.comments.count == 0 or post.comments.count == 1 %} commentaire {% else %} commentaires {% endif %} | Postée le {{post.frenchDate}}
            </p></li>
        </ul>
        {% if user %}
            <hr>
            <p> <a class="statusButton" href="/like/{{ post.id }}"><span class="glyphicon glyphicon-thumbs-up"></span> {{ likeButtonName }}</a> <a class="statusButton" href="/dislike/{{ post.id }}"><span class="glyphicon glyphicon-thumbs-down"></span> {{ dislikeButtonName }}</a></p>
        {% endif %}
    </div>
</div>