                <div class="recommended-info">
                    <div class="col-xs-11 profile-description resent-grid-info recommended-grid-info">
                        <div class="media-left">
                            <img src="{{post.photo}}" alt="Default profile picture" />
                        </div>
                        <div class="media-body">
                            <h3><a href="/tag/{{tag.id}}" class="title title-info">{{post.message}}</a></h3>
                            <ul>
                                <li><p class="views views-info">De <a href="/profile/{{post.user.id}}">{{post.user.first_name}} {{post.user.last_name}}</a> {% if post.place.id %} - À <a href="/place/{{post.place.id}}">{{post.place.name}}</a> {% endif %}</p></li>
                            </ul>
                        </div>  
                    </div>
                </div>