<div class="col-xs-8 col-md-offset-2 resent-grid recommended-grid slider-top-grids">
    <div class="resent-grid-img recommended-grid-img">
        <a href="single.html"><img src="{{post.photo}}" alt="Kebab picture" /></a>
    </div>
    <div class="resent-grid-info recommended-grid-info">
        <h3>{{post.message}}</h3>
        <ul>
            <li><p class="author"><a href="/profile/{{post.user.id}}" class="author">{{post.user.first_name}} {{post.user.last_name}}</a></p></li>
            {% if post.place.id %}
                <li><p class="place">Kebab de <a href="/place/{{post.place.id}}">{{post.place.name}}</a></p></li>
            {% endif %}
            <li><p class="likes">
                {% set like = 0 %}
                {% set dislike = 0 %}
                {% for i in 0 .. post.notes.count-1 %}
                    {% if post.notes[i].value == 1 %}
                        {% set like = like + 1%}
                    {% elseif post.notes[i].value == -1 %}
                        {% set dislike = dislike + 1 %}
                    {% endif %}
                {% endfor %}
                <span class="glyphicon glyphicon-thumbs-up"></span> {{like}} J'aime | <span class="glyphicon glyphicon-thumbs-down"></span> {{dislike}} Je n'aime pas
            </p></li>
        </ul>
        {% if user %}
            <hr>
            <p><a class="statusButton" href=""><span class="glyphicon glyphicon-thumbs-up"></span> J'aime</a> <a class="statusButton" href=""><span class="glyphicon glyphicon-thumbs-down"></span> Je n'aime pas</a></p>
        {% endif %}
    </div>
</div>