{% extends 'layout/pattern.twig' %}

{% block content %}
    <div class="main-grids">
        <div class="top-grids">
            <div class="recommended-info">
                <div class="col-xs-11 profile-description resent-grid-info recommended-grid-info">
                    <div class="media-left">
                        {% if user.avatar %}
                            <img class="media-object img-rounded" src="{{user.avatar}}" alt="Profile picture" />
                        {% else %}
                            <img src="/images/profiles/default.png" alt="Default profile picture" />
                        {% endif %}
                    </div>
                    <div class="media-body">
                        <h3><a href="/profile/{{user.id}}" class="title title-info">{{user.first_name}} {{user.last_name}}</a></h3>
                        <p>{{user.description}}</p>
                        <ul>
                            <li><p class="views views-info">25 publications</p></li>
                        </ul>
                    </div>
				    
                </div>
            </div>
            <div class="col-md-4 resent-grid recommended-grid slider-top-grids">
				<div class="resent-grid-img recommended-grid-img">
                    <a href="single.html"><img src="/images/t1.jpg" alt="" /></a>
				</div>
				<div class="resent-grid-info recommended-grid-info">
				    <h3><a href="single.html" class="title title-info">Pellentesque vitae pulvinar tortor nullam interdum metus a imperdiet</a></h3>
				    <ul>
				        <li><p class="author author-info"><a href="#" class="author">John Maniya</a></p></li>
				        <li class="right-list"><p class="views views-info">2,114,200 Likes</p> <a>J'aime</a></li>
				    </ul>
				</div>
            </div>
                        <div class="col-md-4 resent-grid recommended-grid slider-top-grids">
				<div class="resent-grid-img recommended-grid-img">
                    <a href="single.html"><img src="/images/t1.jpg" alt="" /></a>
				</div>
				<div class="resent-grid-info recommended-grid-info">
				    <h3><a href="single.html" class="title title-info">Pellentesque vitae pulvinar tortor nullam interdum metus a imperdiet</a></h3>
				    <ul>
				        <li><p class="author author-info"><a href="#" class="author">John Maniya</a></p></li>
				        <li class="right-list"><p class="views views-info">2,114,200 Likes</p> <a>J'aime</a></li>
				    </ul>
				</div>
            </div>
                        <div class="col-md-4 resent-grid recommended-grid slider-top-grids">
				<div class="resent-grid-img recommended-grid-img">
                    <a href="single.html"><img src="/images/t1.jpg" alt="" /></a>
				</div>
				<div class="resent-grid-info recommended-grid-info">
				    <h3><a href="single.html" class="title title-info">Pellentesque vitae pulvinar tortor nullam interdum metus a imperdiet</a></h3>
				    <ul>
				        <li><p class="author author-info"><a href="#" class="author">John Maniya</a></p></li>
				        <li class="right-list"><p class="views views-info">2,114,200 Likes</p> <a>J'aime</a></li>
				    </ul>
				</div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
{% endblock %}